cmake==4.4.3
ninja==1.13.2
nvidia-cuda-nvcc==13.4.59
nvidia-cuda-runtime==13.4.49
nvidia-cuda-crt==13.4.59
nvidia-nvvm==13.4.59
nvidia-cuda-nvrtc==13.4.59
nvidia-cuda-cccl==13.3.4.2.1
nvidia-cublas==13.7.0.27
